.work-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
    overflow: hidden;
    height:100%;
}
.work-content{
    width: 100vw;
    height: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;

}
a {
    text-decoration: none !important;
}

@media screen and (max-width: 767px) {
    .work-container{
        flex-direction: column;
    }
    .work-content{
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }
}