.work-container{
    display: flex;;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
    overflow: hidden;
    top:10vh;
    height: 80vh;
    background-image: url(../../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.work-content{
    width: 100vw;
    height: 90vh;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    text-decoration: none !important;
}

@media screen and (max-width: 767px) {
    .work-container{
        flex-direction: column;
    }
    .work-content{
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }
}