.fazl__portfolio-item-expanded-kami {
  width: 100%;
  display: flex; 
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  top: 90px;
  background: rgb(219, 186, 67);
  overflow: scroll;
}
.img-header-kami {
  display: flex;

  z-index: 0;
    background-image: url(../../images/kami.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:44vh;
  background-position-y: -10rem ;
}
.img-header-kami{
    max-width: 100%;
}
.expanded-content-kami {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.expanded-content-kami h1{
    text-align: left;
    margin-left: 2rem;
    font-size: 60px;
}
.expanded-content-kami p{
    text-align: left;
    margin:0rem 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    
    font-size: 30px;
}
.more-thumbnails {
display: flex;}


@media screen and (max-width: 768px) {
  .expanded-content-kami h1{
    font-size: 30px;
}
.expanded-content-kami p{
    font-size: 16px;
}
.img-header-kami{
  background-position:center center ;

}
}