.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background: transparent;
  -webkit-backdrop-filter: blur(40px) saturate(90%);
  backdrop-filter: blur(40px) saturate(90%);
  z-index: 998;
}
.Nav__container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 10vh;
  z-index: 998;
  font-weight: 900;
  align-items: center;
}
.Nav__container-mobile{
  display: none;
  z-index: 998;

}
.Nav__item-wrapper{
  list-style: none;
  width: 100%;
  display: flex;
}
.Nav__right{
  display: flex;
  list-style: none;
}
.Nav__link, .Nav__fazl{
  color: white;
  text-decoration: none;
  margin: 1rem 1rem;
  font-size: 30px;
  list-style: none;
}

.Nav__link:hover,
.Nav__fazl:hover {
  -webkit-background-clip: text !important;
  background-clip: text;
  color: 
    hsla(350, 73%, 47%, 1);
  transition: 200ms ease;
}
.mobile-nav{
  display: none;
}
@media screen and (max-width: 768px) {
  .Nav__container-mobile{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav{
    display: flex;
    background: none;
    border:none;
    bullet-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: -99;
  }
  .Nav__right{
    display: none;
  }
  .mobile__nav--button{
    border: none;
  }
  .background{
    position: absolute;
    top: 10vh;
    height: 30vh;
    background: rgba(255, 255, 255, 0.992);
    

    z-index: 999;
    width: 100vw;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    backdrop-filter: blur(40px) saturate(90%);
    -webkit-backdrop-filter: blur(400px);
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; 
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 999;
    padding:0;
    position: absolute;
    right: 0;
    top: 2.1vh;
    right:4vw;
  }
  ul,
  li {
    margin: 0;
    padding: 0;  
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    width: 100vw;
    z-index: 999;

    height: 30vh;
  }
  
  li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: right;
    width: 100%;
    justify-content: center;
    color: white;
  }
  .icon-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: .5rem;
    flex: 40px 0;
    text-decoration: none;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background: hsla(350, 73%, 47%, 1);

    background: linear-gradient(
      90deg,
      hsla(350, 73%, 47%, 1) 0%,
      hsla(230, 33%, 47%, 1) 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      hsla(350, 73%, 47%, 1) 0%,
      hsla(230, 33%, 47%, 1) 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      hsla(350, 73%, 47%, 1) 0%,
      hsla(230, 33%, 47%, 1) 100%
    );
    color: white;
    backdrop-filter: blur(30px);
  }

  .icon-placeholder:hover{
    color:hsla(350, 73%, 47%, 1);
    transition: ease-in;
    animation-duration: 400ms;
  }
}
@media screen and (max-width: 375px) {
  button{
    top: 1.5vh;
    right: 2vh;
  }
}
