.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  background: transparent;
  -webkit-backdrop-filter: blur(90px) saturate(90%);
  backdrop-filter: blur(90px) saturate(90%);
  z-index: 999;
  flex-grow: 1; 
}
.Nav__container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 10vh;
  z-index: 998;
  font-weight: 900;
  align-items: center;
}
.Nav__container-mobile{
  display: none;
  z-index: 998;

}
.Nav__item-wrapper{
  list-style: none;
  width: 100%;
  display: flex;
  margin:0;
}
.Nav__right{
  display: flex;
  list-style: none;
}
li.Nav__item{
  margin: 0;
}
.Nav__link, .Nav__fazl{
  color: white;
  text-decoration: none;
  margin: 1rem 1rem;
  font-size: 30px;
  list-style: none;
  font-weight: 600;
}
.Nav__link{
  font-weight: 600;
}
.Nav__link:hover,
.Nav__fazl:hover {
  -webkit-background-clip: text !important;
  background-clip: text;
  color: 
    hsla(350, 73%, 47%, 1);
  transition: 200ms ease;
}
.mobile-nav{
  display: none;
}
@media screen and (max-width: 768px) {
  .Nav__container-mobile{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav{
    display: flex;
    background: none;
    border:none;
    bullet-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: -97;
  }
  .Nav__right{
    display: none;
  }
  .mobile__nav--button{
    border: none;
  }
  .background-nav{
    position: absolute;
    top: 10vh;
    height: 30vh;
    background-size: contain;
    z-index: 999;
    width: 100vw;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(66, 64, 64, 0.911);
    backdrop-filter: blur(30px) saturate(120%);
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; 
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 999;
    padding:0;
    position: absolute;
    right: 0;
    top: 2.1vh;
    right:4vw;
  }
  ul,
  li {
    margin: 0;
    padding: 0;  
    width: 100vw;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    width: 100vw;
    z-index: 999;
    height: 30vh;
    }
  }

  li {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: right;
    width: 100%;
    color: white;
    font-weight: 600;
  }
  .icon-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width:100%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    color:white;
    z-index: 999;

  }

  .icon-placeholder:hover{
    color:hsla(350, 73%, 47%, 1);
    transition: ease-in;
    animation-duration: 400ms;
  }
@media screen and (max-width: 375px) {
  button{
    top: 1.5vh;
    right: 2vh;
  }
}
