@import url("https://use.typekit.net/kaa7gct.css");
html {
  scroll-behavior: smooth;
  background: hsla(350, 73%, 47%, 1);

  background: linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );
  

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CF203E", endColorstr="#505DA0", GradientType=1 );

  height: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.App {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margin-content {
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}
.page-setting {
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 1;
  position: relative;
  top: 90px;
}
.gradient-text {
  display: block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text;
  color: transparent;
  background: rgb(93, 121, 102);
  background: linear-gradient(
    190deg,
    rgba(93, 121, 102, 1) 0%,
    rgba(132, 171, 173, 1) 50%,
    rgba(134, 144, 134, 1) 100%
  );
  background: -webkit-linear-gradient(
    190deg,
    rgba(93, 121, 102, 1) 0%,
    rgba(132, 171, 173, 1) 50%,
    rgba(134, 144, 134, 1) 100%
  );
}