.fazl-home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: SCROLL;
  z-index: 1;
}
.fazl-home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}
.fazl-heading {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  padding: 3rem;
  border-radius: 40px;
}
.home-paragraph {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  border-radius: 40px;
  width: fit-content;
}
@media screen and (max-width: 1368px) {
  .fazl-heading {
    font-size: 5rem;
  }
  .home-paragraph {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .fazl-heading {
    font-size: 3.5rem;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
  .fazl-home {
    margin: 1rem 1.5rem;
    width: 100vw;
    margin: 0;
  }
  .home-paragraph {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    margin: 1rem 0.5rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .fazl-heading {
    font-size: 3.5rem;
  }
  .home-paragraph {
    font-size: 14px;
  }
}
