@import url("https://use.typekit.net/kaa7gct.css");
@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  scroll-behavior: smooth;
  height: auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.root{
  height:auto;
}
body {
  scroll-behavior: smooth;
  height: auto;
}
.App {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  height: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
    backdrop-filter: blur(110px);
  -webkit-backdrop-filter: blur(110px);
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./images/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -999;
  top: 0;
  overflow: hidden !important;
}
@media screen and (max-width: 2560px) {
  .background {
    background-position: center -900px;
    height: 100vh;
    width: 100vw;
  }
}
.content{
  flex-grow: 4;
  height: 100%;
  overflow: auto;

}
@media screen and (max-width: 1368px) {
  .background {
    background-position: center -1400px;
    background-color: #1c1323;
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .background {
    background-position: center center;
    transform: scale(1);
    height: 100%;
  }
}