@import url("https://use.typekit.net/kaa7gct.css");
@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  scroll-behavior: smooth;
  background: hsla(350, 73%, 47%, 1);

  background: linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );
  height: auto;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CF203E", endColorstr="#505DA0", GradientType=1 );

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body{
  scroll-behavior: smooth;
  background: hsla(350, 73%, 47%, 1);

  background: linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );
  height: auto;
}
.App {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
}

.App-link {
  color: #61dafb;
}
