@import url("https://use.typekit.net/kaa7gct.css");
html {
  scroll-behavior: smooth;
  background: hsla(350, 73%, 47%, 1);

  background: linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );
  height: 100%;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CF203E", endColorstr="#505DA0", GradientType=1 );

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body{
  scroll-behavior: smooth;
  background: hsla(350, 73%, 47%, 1);

  background: linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 47%, 1) 0%,
    hsla(230, 33%, 47%, 1) 100%
  );
}
.App {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}
.margin-content {
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}
.page-setting {
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 1;
  position: relative;
  top: 90px;
}